///////////////////////////////////////////
////  変数
///////////////////////////////////////////

$poor_pink: rgba(234, 205, 205, 1);
$deep_pink: rgba(117, 57, 77, 1);
$deep_beige: rgba(64, 46, 43, 1);
$green: rgba(87, 115, 74, 1);
$yellow: rgba(191, 191, 86, 1);

$colors: $poor_pink, $deep_pink, $deep_beige, $green, $yellow;

$imagePath: './public/images/';
